.map-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	margin-bottom: 10%;
	position: relative;
	height: 0;
}
.map-responsive iframe {
	left: 0;
	top: 0;
	padding-top: 10px;
	height: 60%;
	width: 100%;
	position: absolute;
}
.hotel-banner {
	position: relative;
	padding: 70px 0;
	background: url('../../assets/images/hotel.jpg') left center no-repeat !important;
	/* background: url('./assets/images/conference.png') left center no-repeat !important; */
	background-size: cover !important;
}
@media (min-width: 768px) {
	.hotel-banner {
		padding: 150px 0;
	}
}
@media (min-width: 1200px) {
	.hotel-banner {
		padding: 240px 0;
	}
}
